
.SignUpForm{
  max-width: 50%;
  margin: auto;
  border: 1px solid gray;
 box-shadow:  2px 2px gray;
  border-radius: 5px;
 
  margin-top: 4%;
  max-height: 50%;
  margin-bottom: 20%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border: 1px solid gray;
  border-radius: 4px;
}




button:hover {
  opacity:1;
}

.signupbtns {
  width: 60%;
  border: 1px solid grey;
  outline: none;
  background-color: #04AA6D;
  color: white;
 text-align: center;
  border-radius: 5px;
  padding: 4px 12px;
}


/* Add padding to container elements */
.containers {
  padding: 16px;
}

/* Clear floats */
.clearfix {
display: flex;
gap: 7px;
width: 50%;
margin: auto;


}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 778px) {
  .SignUpForm{
  box-shadow:  4px 3px gray;
    max-width: 100%;
    margin: auto 6px;
    border: 1px solid gray;
    margin-bottom: 30%;
    border-radius: 6px;
    margin-top: 40px;
  }
  .signupbtns {
    width: 60%;
    border: 1px solid grey;
    outline: none;
    background-color: #04AA6D;
    color: white;
   text-align: center;
    border-radius: 5px;
    padding: 4px 12px;
  }
  
  .clearfix {
    display: flex;
    justify-content: center;
    
    
    
    }
}