.form-container {
  max-width: 30%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
}

.btns {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}



@media screen and (max-width:780px) {
  .form-container {
    max-width: 80%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 20px;
  }

  .btns {
    border: 1px solid red;
  }
}

@media screen and (max-width:780px) {
  .form-container {
    max-width: 80%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 20px;
  }

  .btns {
    border: 1px solid red;
  }
}